# ==============================================================================
# BACKEND CONFIGURATION
# ==============================================================================
PORT=5000
DATABASE_URL="file:./dev.db"
JWT_SECRET="zmien_mnie_na_produkcji_bardzo_dlugi_i_bezpieczny_klucz_jwt_12345"

# Konfiguracja dla Redis (używana opcjonalnie dla BullMQ)
REDIS_URL="redis://localhost:6379"

# Adres URL frontendu (do obsługi CORS i Socket.io)
CLIENT_URL="http://localhost:5173"

# Wskazuje, czy pliki mają być zapisywane lokalnie ('local') czy symulowane
UPLOAD_STORAGE_TYPE="local"

# ==============================================================================
# FRONTEND CONFIGURATION (używane przez Vite podczas budowania)
# ==============================================================================
VITE_API_URL="http://localhost:5000"
